<!DOCTYPE html>
<html><head><title>Regim de Așchiere</title></head><body>
<h2>Calculator Regim de Așchiere</h2>
<form method="post">
<label>Material:</label><input name="nume_material"><br>
<label>Duritate [HB]:</label><input name="duritate" type="number"><br>
<label>k_c [N/mm²]:</label><input name="k_c" type="number"><br><br>
<label>Lungime [mm]:</label><input name="lungime" type="number"><br>
<label>Lățime [mm]:</label><input name="latime" type="number"><br>
<label>Înălțime [mm]:</label><input name="inaltime" type="number"><br><br>
<label>Tip sculă:</label><input name="tip_scula"><br>
<label>Diametru [mm]:</label><input name="diametru" type="number"><br>
<label>Nr dinți:</label><input name="nr_dinti" type="number"><br>
<label>Material sculă:</label><input name="mat_scula"><br><br>
<label>Adâncime [mm]:</label><input name="adancime" type="number"><br>
<label>Avans/dinte [mm]:</label><input name="avans_dinte" type="number" step="any"><br><br>
<button type="submit">Calculează</button>
</form></body></html>